@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Report

<div>
    Email------> @Model.Email
    Password---> @Model.Password
</div>