@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Contatto

<h2>Risultati</h2>
<form action="Report" method="get">
    <label for="inputEmail4">Email</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
    <input type="submit" />
</form>


