@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>IMAGINE DRAGONS</h1>
    <p class="biografia">
        Gli Imagine Dragons sono un gruppo musicale statunitense proveniente da Las Vegas, Nevada, e formatosi nel 2008.

        Il gruppo ha acquisito notorietà a partire dal 2012 con il singolo It's Time e il lancio del loro primo album Night Visions, che ha raggiunto la seconda posizione della Billboard 200.

        A seguito della distribuzione di Night Visions, gli Imagine Dragons hanno intrapreso un tour mondiale e suonato in diversi late night show televisivi. Nel 2013 sono stati eletti da Billboard come il gruppo esordiente di maggior successo dell'anno, mentre l'anno successivo il loro fortunato singolo Radioactive vince il Grammy Award alla miglior esibizione rock di un gruppo, oltre che superare numerosi record di vendite[1]. Nel 2015 viene pubblicato il loro secondo album in studio, Smoke and Mirrors, caratterizzato da suoni più sperimentali del precedente disco, che raggiunge la prima posizione della Billboard 200. Nel 2017 esce il terzo album Evolve, anch'esso di successo internazionale e secondo posto nella Billboard 200. Grazie ai suoi singoli di punta Believer, Thunder e Whatever It Takes, il gruppo risulta, con l'aggiunta di Radioactive e del singolo del 2018 Natural, dall'album dello stesso anno Origins, il gruppo di maggior successo della Billboard Rock Songs, essendo gli unici artisti nella storia della classifica ad aver piazzato quattro primi posti diversi e averli mantenuti per oltre 100 settimane cumulative[2].

        Oltre a ciò, il gruppo vanta anche 4 nomination ai Grammy Awards, un MTV Video Music Awards, 9 Billboard Music Awards su 30 nominations, due primi posti nella Billboard Hot 100 con i brani Sucker for Pain e Believer e un disco di diamante certificato dalla RIAA per le vendite di Radioactive. Nonostante il grande successo commerciale, i loro dischi hanno ricevuto più volte giudizi mediocri o sono stati ignorati dalla critica specializzata[3][4]. In tutto il mondo hanno venduto 12 milioni di album e 35 milioni di singoli.[5]
    </p>
    <img src="~/images/ImagineDragons.jpg"/>
</div>


    