@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MioSito.Models.ViewModels
@model CatalogoViewModel
<div>
    dettagli id :@Model.Id<br />
    dettagli prodotto :@Model.Title<br />
    immagine: <img src="@Model.ImagePath" /><br />
    prezzo: € @Model.FullPrice
</div>